@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
}
body {
    background-color: #080010;
}

.bg-blue-gradient {
    background: linear-gradient(
        157.81deg,
        #def5fa -43.27%,
        #bebff5 -21.24%,
        #9da4f0 12.19%,
        #7d84eb 29.82%,
        #5c63e6 51.94%,
        #5533cf 90.29%
    );
}
